.header.links li.authorization-link a:before {content: "";background: url(../images/user-icon.png);background-repeat: no-repeat;width: 29px;height: 31px;background-position: center;background-size: cover;position: absolute;left: -39px;top: -5px;}
.page-header .panel.header .header-left ul.header-left-link li:nth-child(1) {margin-left: 0 !important;}
.header.links li.authorization-link {position: relative;z-index: 11;height: 30px;}
.header.links li.authorization-link:hover ul.dropdown-link {display: block !important;}
.page-header .panel.header .header-left ul.header-left-link li:last-child a {border-right: 0;}
.dropdown-link a:before {content:unset !important;}
.panel.header .header.links ul.dropdown-link {float: left;width: 100%;}
.header.links li.authorization-link ul.dropdown-link {display: none;position: absolute;width: 107px !important;right: -31px;background: #fff;padding-left: 10px;top: 27px;}
.panel.header .header.links ul.dropdown-link li {font-size: 14px;text-transform: capitalize;display: block !important;color: #000;text-align: left;}
.header.panel > .header.links > .authorization-link:after {content:unset;}
.panel.header .header-left ul.header-left-link {margin: 0;float: left;width: 100%;padding: 0;}
.header.links li#textstatus:nth-child(7) {margin-right: 41px !important;}
.panel.header .header.links li.customer-welcome button.action.switch {width: 27px;}
.header.links li#textstatus:nth-child(6) {margin-left: 11px !important;margin-right: 30px !important;}
.panel.header .header.links li.customer-welcome {margin-top: 10px !important;}
.customer-name button.action.switch {display: none !important;}
.dropdown-link a {color: #333;}
.header.links li#textstatus:nth-child(8) {margin-right: 34px !important;}
.header.links li:nth-child(8) {position: relative;}
.page-header .panel.header ul.header.links {float: right;text-align: right;width: 52%;}
.header.links .header-left {display: none;}
.page-header .panel.header ul.header.links li:nth-child(2) {display: none;}
.page-header .panel.header ul.header.links li.greet.welcome {display: none;}
.page-header .panel.header .header-left {float: left;width: 47%;}
.page-header .panel.header .header-left ul.header-left-link {list-style: none;}
.page-header .panel.header .header-left ul.header-left-link li {float: left;margin: 0 0 0 9px;}
.page-header .panel.header .header-left ul.header-left-link li a {color: #fff;border-right: 1px solid #fff;padding-right: 10px;}
.page-header .header.content .logo {width: 34%;}
.page-header .header.content .block.block-search {float: left;width: 385px;text-align: center;display: flex;justify-content: center;767margin-top: 5rem;}
.page-header .header.content .block.block-search .block.block-content {width: 100%;}
header.page-header {background: #DCEADD;}
.minicart-wrapper .action.showcart:before {content: "\f07a";font-family: fontAwesome;color: #333 !important;line-height: 20px;}
.minicart-wrapper .action.showcart.active:before {content: "\f07a";color: #333 !important;font-family: 'FontAwesome';line-height: 20px;}
.page-header .header.content .minicart-wrapper span.text {clip: unset;overflow: visible !important;height: auto;position: unset !important;color: #333;padding-left: 5px;}
.page-header .header.content .minicart-wrapper {margin-top: 5rem;background: #fff;padding: 6px 12px;}
.account .sidebar-main li.nav.item {float: left;width: 100%;}
.block-collapsible-nav .item .delimiter{display: none;}
.page-footer .footer.content .col-sm-3 {color: #69966f;}
.page-footer .footer.content .col-sm-3 a {color: #69966f;}
.page-footer {background: #dceadd;}
@media only screen and (max-width:767px) {
.page-header .panel.header .header-left {display: none;}
.block-search .control {float: left;width: 100%;}
.page-header .header.content .minicart-wrapper {margin-top: 10px;background: transparent;padding: 0;margin-left: 10px;}
.page-header .header.content .minicart-wrapper span.text {clip: unset;overflow: hidden !important;position: absolute !important;}
.page-header .header.content .block.block-search {float: unset;width: auto;display: inherit;margin-top: 10px;margin-left: 32px;}
.page-header .header.content strong.logo {margin-left: 50px;}
.header.links .header-left {float: left;width: 100%;}
.header.links .header-left ul.header-left-link {float: left;width: 100%;padding: 0;}
.nav-sections .header.links li.greet.welcome {margin: 0;padding: 0;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
.page-header .header.content .minicart-wrapper {margin-top: 0;}
.page-header .header.content .block.block-search {width: 349px;margin-top: 0;}
.page-header .header.content strong.logo {width: 23%;}
.page-header .panel.header .header-left {width: 100%;}
.page-header .panel.header ul.header.links {float: left;text-align: center;width: 100%;}
.nav-sections .header.links{background: transparent !important;}
}

.navigation li.level0.nav-7.last.level-top.parent.ui-menu-item ul.submenu {
    left: -362% !important;
    min-width: 736px;
}
.navigation li.level0.nav-7.last.level-top.parent.ui-menu-item ul.submenu li {
    float: left;
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navigation .level0.parent > .level-top > .ui-menu-icon {
    position: absolute;
    right: -10px;
    display: inline-block;
    text-decoration: none;
}

.navigation .level0.parent > .level-top > .ui-menu-icon:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 20px;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
