.config-nav-block.magenuts-tab strong:before {
    background: url(../images/color-logo.png) no-repeat;
    width: 18px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.magenuts-tab .admin__page-nav-title{
    font-size: 1.3rem !important;
}

/* main magenuts menu start*/
#menu-magenuts-core-menu .submenu .level-0 > a:before,
#menu-magenuts-core-menu .level-0:first-child > a:after {
    content: '';
    display: none;
}

#menu-magenuts-core-menu .submenu .level-0 > a {
    display: block;
    width: 99%;
    min-height: 0;
    margin: .7rem 0;
    padding: 1.25rem 1rem 1.25rem 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: left;
    color: #a79d95;
    text-transform: none;
}

#menu-magenuts-core-menu .submenu .level-0 > a:hover {
    background-color: #524d49;
}

#menu-magenuts-core-menu .submenu .column .parent {
    margin-bottom: 0;
}

#menu-magenuts-core-menu .submenu .parent {
    margin-bottom: 0.5rem;
}

#menu-magenuts-core-menu .item-container .submenu {
    transform: none;
    opacity: 0;
    transition-property: opacity;
}

#menu-magenuts-core-menu .item-container._show .submenu {
    opacity: 1;
}

#menu-magenuts-core-menu > a:before {
    content: '';
    background: url(../images/logo.png) 27px no-repeat;
    background-size: contain;
}

#menu-magenuts-core-menu > a:hover:before,
#menu-magenuts-core-menu._show > a:before {
    background: url(../images/logo_hover.png) 27px no-repeat;
    background-size: contain;
}

.admin__menu .level-0 > .submenu .submenu {
    min-height: 100%;
    width: 300px;
}

.admin__menu .submenu .submenu .submenu-title {
    height: 60px;
}
/* main magenuts menu end*/