<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_PDFCustom
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_PDFCustom::template" title="PDF Templates" translate="title" module="Amasty_PDFCustom" parent="Magento_CatalogRule::promo" sortOrder="100" action="amasty_pdf/template/" dependsOnModule="Amasty_PDFCustom" resource="Amasty_PDFCustom::template"/>
    </menu>
</config>
