<!--@subject Shipment PDF @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" media="all" href="{{base_url_path}}frontend/_view/{{locale}}/css/email-fonts.css">
    <style type="text/css">
        {{var template_styles|raw}}

        @page {
            size: a4;
            margin: 0;
            padding: 0;
        }

        {{css file="Amasty_PDFCustom::css/ampdf.css"}}
    </style>
</head>
<body>
<div class="ampdf-column -left">
    <div class="ampdf-info-container">
        <div class="ampdf-item" style="text-align: center;">
            <a class="logo" href="{{store url=""}}">
            <img
                    {{if logo_width}}
                    width="{{var logo_width}}"
                    {{else}}
                    style="width: 272px"
                    {{/if}}

            {{if logo_height}}
            height="{{var logo_height}}"
            {{/if}}

            src="{{var logo_url}}"
            alt="{{var logo_alt}}"
            border="0"
            />
            </a>
        </div>
        <div class="ampdf-item">
            <span class="ampdf-separator"></span>
            <p class="ampdf-title ampdf-text">{{trans "Shipment To"}}</p>
            <p class="ampdf-text">{{var formattedBillingAddress|raw}}</p>
        </div>
        <div class="ampdf-item">
            <span class="ampdf-separator"></span>
            <p class="ampdf-title ampdf-text">{{trans "Shipment Details"}}</p>
            <p class="ampdf-text">{{trans "Shipment No: #%increment_id" increment_id=$shipment.increment_id}}</p>
            <p class="ampdf-text">{{trans "Order No: #%increment_id" increment_id=$order.increment_id}}</p>
            <p class="ampdf-text">{{trans "Shipment Date: %created_at" created_at=$shipment.created_at}}</p>
        </div>
        <div class="ampdf-item">
            <span class="ampdf-separator"></span>
            <p class="ampdf-title ampdf-text">{{trans "Payment Method"}}</p>
            <p class="ampdf-text">{{var payment_html|raw}}</p>
        </div>
        {{depend order.getIsNotVirtual()}}
        <div class="ampdf-item">
            <span class="ampdf-separator"></span>
            <p class="ampdf-title ampdf-text">{{trans "Shipping Method"}}</p>
            <p class="ampdf-text">{{var order.getShippingDescription()}}</p>
        </div>
        <div class="ampdf-item">
            <span class="ampdf-separator"></span>
            <p class="ampdf-title ampdf-text">{{trans "Shipping Info"}}</p>
            <p class="ampdf-text">{{var formattedShippingAddress|raw}}</p>
        </div>
        {{/depend}}
    </div>
</div>
<div class="ampdf-main-container">
    <div class="ampdf-column -right">
        <div class="ampdf-content-container">
            <div class="ampdf-header">
                <p class="ampdf-title ampdf-text">{{trans "Shipment"}}</p>
                <span class="ampdf-separator"></span>
            </div>

            <div class="ampdf-table-container">
                {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
                {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Magento_Sales::email/shipment/track.phtml' shipment=$shipment order=$order}}
            </div>

            <div class="ampdf-footer">
                <p class="ampdf-text" style="text-transform: uppercase">{{trans "thank you for your business!"}}</p>
                <p class="ampdf-text">{{trans "We love hearing from you, our Luma customers. Please contact us about anything at all. We’ll do everything we can to make your Luma experience unforgettable everytime."}}</p>
                {{depend store_phone}}
                <p class="ampdf-text phone">
                    {{trans "Phone: %store_phone" store_phone=$store_phone |raw}}
                </p>
                {{/depend}}
                <p class="ampdf-text">
                    <a href="#" title="{{trans 'About Us'}}">{{trans "About Us"}}</a>
                    <a href="#" title="{{trans 'Customer Service'}}">{{trans "Customer Service"}}</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
