<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenuts_Productattach::top_level" title="Product Attachment" 
             module="Magenuts_Productattach" sortOrder="30" parent="Magenuts_Core::menu"
             resource="Magenuts_Productattach::productattach"/>
        <add id="Magenuts_Productattach::productattach_manage" title="Manage Attachments" module="Magenuts_Productattach" sortOrder="10" parent="Magenuts_Productattach::top_level" action="productattach/index/" resource="Magento_Backend::content"/>
        <add id="Magenuts_Productattach::productattach_setting" title="Settings" module="Magenuts_Productattach" sortOrder="20" parent="Magenuts_Productattach::top_level" action="adminhtml/system_config/edit/section/productattach" resource="Magento_Backend::content"/>
    </menu>
</config>
